@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

html * {
    font-family: 'Exo 2', "Source Sans Pro", sans-serif;
    overflow: hidden;
}

body {
    background-color: rgb(34, 34, 48);
    color: rgb(255, 255, 255);
}

h1 {
    font-size:  18px;
    font-weight: 700;
    height: 27px;
}

button {
    background-color: rgb(60, 93, 219);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 4px;
    height: 2em;
    margin: 4px;
}

button:hover {
    background-color: #6882e2;
}